<a
  [routerLink]="['/xassidas', xassida.id]"
  class="card-spiritual p-2 block group transform hover:scale-105 transition rounded-lg duration-300 inset-shadow-2xs border border-gray-300"
>
  <div class="flex items-start justify-between gap-4">
    <div class="flex-1 min-w-0">
      <h3
        class="font-heading text-lg font-semibold text-foreground
               group-hover:text-primary transition-colors"
      >
        {{ xassida.wording }}
      </h3>

      <p class="font-arabic text-xl text-gold-warm mt-1" dir="rtl">
        {{ xassida.wordingArabe }}
      </p>

      <p class="text-sm text-green-900 text-muted-foreground mt-3 line-clamp-2">
        {{ xassida.description }}
      </p>

      <div class="flex items-center  text-green-900 gap-2 mt-4 text-sm text-muted-foreground">
        <lucide-icon [name]="User" class="h-4 w-4"></lucide-icon>
        <span>{{ xassida.ecrivain.nom_complet }}</span>
      </div>
    </div>

    <div
      class="flex-shrink-0 w-12 h-12 bg-gray-900/10 text-green-900 rounded-lg
             bg-primary/10 flex items-center justify-center
             group-hover:bg-primary/20 transition-colors"
    >
      <lucide-icon [name]="FileText" class="h-6 w-6 text-primary"></lucide-icon>
    </div>
  </div>
</a>
